<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unknown.mapper.DbReplyMapper">
    <sql id="FromDbReply">
        select dbReplyNum, 
	    	   mId,
	    	   dbReplyDate,
	    	   mIp,
	    	   dbReplyContent,
	    	   dbRate,
	    	   gName 
	   	  from DbReply
    </sql>
    
	<select id="selectAll" resultType="com.unknown.model.DbReply">
		<include refid="FromDbReply"/>
	</select>
	
	<select id="selectBygName" resultType="com.unknown.model.DbReply"
	    parameterType="String">
	    <include refid="FromDbReply"/>
	   	 where gName = #{gName} 
	</select>
	
	<select id="selectBydbReplyNum" resultType="com.unknown.model.DbReply"
	    parameterType="int">
	    <include refid="FromDbReply"/>
	   	 where dbReplyNum = #{dbReplyNum} 
	</select>
	
	<insert id="insert" parameterType="com.unknown.model.DbReply">
	    insert into DbReply
	    (
	    	   dbReplyNum, 
	    	   mId,
	    	   dbReplyDate,
	    	   mIp,
	    	   dbReplyContent,
	    	   dbRate,
	    	   gName 
	    )
	    values
	    (
	    	   #{dbReplyNum}, 
	    	   #{mId},
	    	   #{dbReplyDate},
	    	   #{mIp},
	    	   #{dbReplyContent},
	    	   #{dbRate},
	    	   #{gName}
	    )
	</insert>
	
	<update id="updateBydbReplyNum" parameterType="com.unknown.model.DbReply">
	    update DbReply
	       set mId = #{mId},
	    	   dbReplyDate = #{dbReplyDate},
	    	   mIp = #{mIp},
	    	   dbReplyContent = #{dbReplyContent},
	    	   dbRate = #{dbRate},
	    	   gName = #{gName}
	     where dbReplyNum = #{dbReplyNum}
	</update>
	
	<delete id="deleteBydbReplyNum" parameterType="int">
	    delete from DbReply
	     where dbReplyNum = #{dbReplyNum}
	</delete>
</mapper>
