<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unknown.mapper.EmpMapper">
    <sql id="FromEmp">
        select empno,
        	   ename,
        	   job,
        	   mgr,
        	   hiredate,
        	   sal,
        	   comm,
        	   deptno
          from emp
    </sql>
    <select id="selectAll" resultType="com.unknown.model.Emp">
        <include refid="FromEmp"/>
    </select>
    
    <select id="selectCount" resultType="int">
        select count(*) from emp
    </select>
    
    <select id="selectPage" resultType="com.unknown.model.Emp" parameterType="hashmap">
        select outer.*
		  from ( select rownum r, inner.*
		  		   from ( select *
		  		   			from emp 
		  		   		   order by empno asc
		  		        ) inner
		  	   ) outer
		 where outer.r &gt;= #{firstItem}
		   and outer.r &lt;= #{lastItem}        
    </select>
    
    <select id="selectMgrs" resultType="com.unknown.model.Mgr">
	    select empno, ename from emp order by empno asc
	</select>
	
    <select id="selectByEmpno" resultType="com.unknown.model.Emp"
	    parameterType="int">
	    <include refid="FromEmp"/>
	   	 where empno = #{empno} 
	</select>
    
    <insert id="insert" parameterType="com.unknown.model.Emp">
        insert into emp
	    (
	    	empno,
	    	ename,
	    	job,
	    	mgr,
	    	hiredate,
	    	sal,
	    	comm,
	    	deptno
	    )
	    values
	    (
	    	#{empno},
	    	#{ename},
	    	#{job, jdbcType=NUMERIC},
	    	#{mgr, jdbcType=NUMERIC},
	    	#{hiredate, jdbcType=TIMESTAMP},
	    	#{sal, jdbcType=NUMERIC},
	    	#{comm, jdbcType=NUMERIC},
	    	#{deptno}
	    ) 
    </insert>
    
	<update id="updateByEmpno" parameterType="com.unknown.model.Emp">
	    update emp
	       set empno = #{empno},
	    	ename = #{ename},
	    	job = #{job, jdbcType=NUMERIC},
	    	mgr = #{mgr, jdbcType=NUMERIC},
	    	hiredate = #{hiredate, jdbcType=TIMESTAMP},
	    	sal = #{sal, jdbcType=NUMERIC},
	    	comm = #{comm, jdbcType=NUMERIC},
	    	deptno = #{deptno}
	     where empno = #{empno}
	</update>
	
	<delete id="deleteByEmpno" parameterType="int">
	    delete from emp where empno = #{empno}   
	</delete>

</mapper>