<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unknown.mapper.GameDbMapper">
    <sql id="FromGameDb">
        select gnum, 
	    	   gname,
	    	   gstartdate,
	    	   gmaker,
	    	   gpublisher,
	    	   gservicetype,
	    	   gplatform,
	    	   ggenre,
	    	   ghomepage,
	    	   grating,
	    	   gintroduce
	   	  from GameDb
    </sql>
    
	<select id="selectAll" resultType="com.unknown.model.GameDb">
		<include refid="FromGameDb"/>
	</select>
	
	<select id="selectCount" resultType="int">
        select count(*) from GameDb
    </select>
    
    <select id="selectPage" resultType="com.unknown.model.GameDb" parameterType="hashmap">
        select outer.*
		  from ( select rownum r, inner.*
		  		   from ( select *
		  		   			from GameDb 
		  		   		   order by gnum asc
		  		        ) inner
		  	   ) outer
		 where outer.r &gt;= #{firstItem}
		   and outer.r &lt;= #{lastItem}        
    </select>
	
	<select id="selectBygNum" resultType="com.unknown.model.GameDb"
	    parameterType="int">
	    <include refid="FromGameDb"/>
	   	 where gnum = #{gnum} 
	</select>
	
	
	
	<insert id="insert" parameterType="com.unknown.model.GameDb">
	    insert into GameDb
	    (
	    	   gnum, 
	    	   gname,
	    	   gstartdate,
	    	   gmaker,
	    	   gpublisher,
	    	   gservicetype,
	    	   gplatform,
	    	   ggenre,
	    	   ghomepage,
	    	   grating,
	    	   gintroduce
	    )
	    values
	    (
	    	   #{gnum},
	    	   #{gname},
	    	   #{gstartdate},
	    	   #{gmaker},
	    	   #{gpublisher},
	    	   #{gservicetype},
	    	   #{gplatform},
	    	   #{ggenre},
	    	   #{ghomepage},
	    	   #{grating},
	    	   #{gintroduce}
	    ) 
	</insert>
	
	<update id="updateBygNum" parameterType="com.unknown.model.GameDb">
	    update GameDb
	       set gname = #{gname},
	           gStartDate = #{gstartdate},
	    	   gmaker = #{gmaker},
	    	   gpublisher = #{gpublisher},
	    	   gservicetype = #{gservicetype},
	    	   gplatform = #{gplatform},
	    	   ggenre = #{ggenre},
	    	   ghomepage = #{ghomepage},
	    	   grating = #{grating},
	    	   gintroduce = #{gintroduce}
	     where gnum = #{gnum}
	</update>
	
	<delete id="deleteBygNum" parameterType="int">
	    delete from GameDb
	     where gnum = #{gnum}
	</delete>
</mapper>
