<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unknown.mapper.MemberMapper">

	<select id="idcheck" resultType="Integer"
	    parameterType="string">
	    select * from member
	   	 where MID = #{memid} 
	</select>
	
	<select id="nickcheck" resultType="Integer"
	    parameterType="string">
	    select * from member
	   	 where MNICK = #{memnick} 
	</select>
	
	<select id="selectBymid" resultType="com.unknown.model.Member"
	    parameterType="string">
	    select * from member where MID = #{mId} 
	</select>
	<select id="selectBymid2" resultType="Map"
	    parameterType="string">
	    select * from member where MID = #{mId} 
	</select>
    
    <insert id="insert" parameterType="com.unknown.model.Member">
        insert into Member
	    (
	    	MNUM,
			MID,
			MPASS,
			MNAME,
			MNICK,
			MEMAIL,
			MAUTHLEVEL,
			MGENDER,
			MBIRTH,
			MTEL,
			MZIPCODE,
			MADDR1,
			MADDR2,
			MLEVEL,
			MEXP,
			MRECENTLOGINDATE,
			MIP,
			MOUT,
			MISOUT,
			MJOINDATE
	    )
	    values
	    (
	    	mem_seq.nextval,
			#{mId},
			#{mPass},
			#{mName},
			#{mNick},
			#{mEmail},
			#{mAuthLevel, jdbcType=NUMERIC},
			#{mGender},
			#{mBirth, jdbcType=TIMESTAMP},
			#{mTel},
			#{mZipcode},
			#{mAddr1},
			#{mAddr2},
			#{mLevel, jdbcType=NUMERIC},
			#{mExp, jdbcType=NUMERIC},
			#{mRecentLoginDate, jdbcType=TIMESTAMP},
			#{mIp},
			#{mOut, jdbcType=TIMESTAMP},
			#{mIsOut, jdbcType=NUMERIC},
			#{mJoinDate, jdbcType=TIMESTAMP}

	    ) 
    </insert>
    
    <update id="modify" parameterType="com.unknown.model.Member">
        update Member
	    set
			MID = #{mId},
			MPASS = #{mPass},
			MNAME = #{mName},
			MNICK = #{mNick},
			MEMAIL = #{mEmail},
			MGENDER = #{mGender},
			MBIRTH = #{mBirth, jdbcType=TIMESTAMP},
			MTEL = #{mTel},
			MZIPCODE = #{mZipcode},
			MADDR1 = #{mAddr1},
			MADDR2 = #{mAddr2},
			MLEVEL = #{mLevel, jdbcType=NUMERIC},
			MEXP = #{mExp, jdbcType=NUMERIC},
			MRECENTLOGINDATE = #{mRecentLoginDate, jdbcType=TIMESTAMP},
			MIP = #{mIp},
			MOUT = #{mOut, jdbcType=TIMESTAMP},
			MISOUT = #{mIsOut, jdbcType=NUMERIC},
			MJOINDATE = #{mJoinDate, jdbcType=TIMESTAMP}
	   where MID = #{mId}
    </update>
    
    <update id="delete" parameterType="com.unknown.model.Member">
        update Member
	    set
			MID = #{mId},
			MPASS = #{mPass},
			MNAME = #{mName},
			MNICK = #{mNick},
			MEMAIL = #{mEmail},
			MGENDER = #{mGender},
			MBIRTH = #{mBirth, jdbcType=TIMESTAMP},
			MTEL = #{mTel},
			MZIPCODE = #{mZipcode},
			MADDR1 = #{mAddr1},
			MADDR2 = #{mAddr2},
			MLEVEL = #{mLevel, jdbcType=NUMERIC},
			MEXP = #{mExp, jdbcType=NUMERIC},
			MRECENTLOGINDATE = #{mRecentLoginDate, jdbcType=TIMESTAMP},
			MIP = #{mIp},
			MOUT = #{mOut, jdbcType=TIMESTAMP},
			MISOUT = #{mIsOut, jdbcType=NUMERIC},
			MJOINDATE = #{mJoinDate, jdbcType=TIMESTAMP}
	   where MID = #{mId}
    </update>
    
    

</mapper>